*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: hsl(233, 47%, 7%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    width: 80vw;
    min-height: 59vh;
    /* border: 2px solid red; */
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 6rem;
}

.heading h1{
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(0, 0%, 100%);
    font-size: 2.5rem;
}

.heading h1 span{
    color: hsl(277, 64%, 61%);
}

.para p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 20px;
}

.stats{
    color: hsla(0, 0%, 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.stats div h1{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.stats div p{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.75);
}

.right-side{
    /* background: url('images/image-header-desktop.jpg') no-repeat, hsl(277, 64%, 61%); */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-blend-mode: multiply; */
    background: hsl(277, 64%, 61%);
    border-radius: 0px 10px 10px 0px;
}

.right-side img{
    height: 100%;
    width: 100%;
    border-radius: 0px 10px 10px 0px;
    mix-blend-mode: hard-light;
    opacity: 0.7;
}

@media screen and (max-width:1100px){
    .left-side{
        padding: 3rem 2rem;
    }
}

@media screen and (max-width: 1025px){
    body{
        padding-top: 4rem;
    }

    .container{
        display: grid;
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 1fr;
        width: 90vw;
    }

    .heading h1{
        font-size: 2rem;
        text-align: center;
    }

    .para p{
        margin: 20px 0px;
        text-align: center;
    }

    .stats{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 20rem;
    }

    .stats div h1{
        text-align: center;
    }

    .stats div p{
        text-align: center;
    }

    .right-side{
        grid-row-start: 1;
        grid-row-end: 2;
        border-radius: 10px 10px 0px 0px;
        max-height: 95%;
    }

    .right-side img{
        content: url('images/image-header-mobile.jpg');
        border-radius: 10px 10px 0px 0px;

    }
}




